<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>HOMEPAGE</title>

</head>

<body>
    <P><h1>MONICA'S BLOG</h1></P><br><br><br><br><br>
   <P><h2>Lagos, Nigeria.</h2></P> <br><br><br>
    <h3>
        <h1> HOMEPAGE</h1><br><br><br>
    </p>
    <ul>
        <li><a href="/signup.html">SIGN UP</a></li>
        <li><a href="/login.html">LOG IN</a></li>
        <li><a href="/index.html">LOG OUT</a></li>
    </ul><br><br>
        <p>...Covers fashion news, beauty tips, celebrity style, fashion trends, fashion week updates, lifestyle, and
            more.</p>
        <p>MONICA's Blog is focused on publishing the best color and fashion trend sources on the internet.</p>
        <p>our aim is to inspire our readers with our color and trend directions exclusively prepared for each season.
        </p>
    </h3><br><br><br>
    <p>
    <h1> Series of fashion news at your disposal...</h1><br><br>
    </p>
    <ul>
        <li><a href="/">Welcome to the exciting world where technology and fashion collide!</a></li>
        <li><a href="/">What makes African fashion style unique?</a></li>
        <li><a href="/">The Business of Fashion</a></li>
        <li><a href="/">What makes American fashion style unique?</a></li>
        <li><a href="/">Top 10 Fashion Content Creators of This Week</a></li>
        <li><a href="/">Lagos Fashion Festival 2023 promises to be an exquisite fashion show with over 500 premium models strutting their stuff down</a></li>
    </ul><br><br>

    <p>  <h2>Do you have a fashion news, you can share yours below.</h2><br></p>

      <canvas id="myCanvas" width="1000" height="500" style="border:1px solid #000000;">
    </canvas>
</body>

</html>

