<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>HOMEPAGE</title>
    
</head>
<body>
    <P><h1>MONICA'S BLOG</h1></P><br><br><br><br><br>
   <P><h2>Lagos, Nigeria.</h2></P> <br><br><br>
    <h3>
        <p>...Covers fashion news, beauty tips, celebrity style, fashion trends, fashion week updates, lifestyle, and
            more.</p>
        <p>MONICA's Blog is focused on publishing the best color and fashion trend sources on the internet.</p>
        <p>our aim is to inspire our readers with our color and trend directions exclusively prepared for each season.
        </p>
    </h3><br><br><br><br><br>
    <p>
    <h1> HOMEPAGE</h1><br><br><br>
    </p>
    <ul>
        <li><a href="/signup.html">SIGN UP</a></li>
        <li><a href="/login.html">LOG IN</a></li>
        <li><a href="/blogs.html">BLOGS</a></li>
        <li><a href="/index.html">LOG OUT</a></li>
    </ul><br><br>

</body>

</html>