<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>SignUp</title>
</head>
<body>

  <h1>MONICA'S BLOG</h1>

  <h1> SIGN UP</h1><br><br><br>
    </p>
    <ul>
        <li><a href="/signup.html">SIGN UP</a></li>
        <li><a href="/login.html">LOG IN</a></li>
        <li><a href="/blogs.html">BLOGS</a></li>
    </ul><br><br>
<br><br><h2>Sign Up</h2>
    <form>
        <div class="form-group">
          <br><br><label for="First Name">First Name:</label><br>
            <br><input type="First Name" class="form-control" id="First Name"><br>
            </div>
    
          <div class="form-group">
            <br><br><label for="last name">Last Name:</label>
            <br><input type="last name" class="form-control" id="Last name"><br>
          </div>
    <div class="form-group">
      <br><br><label for="email">Email address:</label><br>
      <br><input type="email" class="form-control" id="email"><br>
    </div>
    <div class="form-group">
      <br><br><label for="pwd">Password:</label><br>
      <br><input type="password" class="form-control" id="pwd"><br>
    </div>
    <div class="form-group">
        <br><br><label for="pwd">Confirm Password:</label><br>
        <br><input type="confirm passwordl" class="form-control" id="pwd"><br>
      </div>
    <div class="checkbox">
      <br><br><label><input type="checkbox"> Remember me</label><br>
    </div>
    <button type="submit" class="btn btn-default">Submit</button><br>
  </form>
  
</body>
</html>